@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #55423d;
  --foreground: #664343;
  --foreground_light: #664343;
  --foreground_dark: #664343;  
  --content_w: #fff3ec;
  --content_w_light: #fffffe;  
  --content_w_dark: #8A7771;
  --content_b: #271c19;
  --content_b_light: #fffffe;  
  --content_b_dark: #8A7771;
  --active: #ffc0ad;
  --excited: #ffe0d6;
  --inactive: #ffe0d6;
  --danger: #e78fb3;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  color: var(--content_w);
  background: var(--background);
  font-family: var(--font-inter);
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
