@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #55423d;
  --foreground: #fffffe;
  --type-1-1: #ffc0ad;
  --type-1-2: #ffe0d6;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
